@charset "utf-8";

/* Common */
:where(.css-dev-only-do-not-override-zjzpde) a {
  color: inherit;
  transition: inherit;
}

:where(.css-dev-only-do-not-override-zjzpde) a:hover {
  color: #ffd700;
}
