@charset "utf-8";

/* Nav */
nav {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #eeeeee;
  display: inline-block;
}

nav a:hover {
  color: #ffd700;
}

.nav-logo {
  font-size: 1.2em;
  font-weight: bold;
  float: left;
}

/* Menu */
.nav-menu {
  margin-top: 2px;
  float: right;
}

.menu-list {
  display: inline-block !important;
}

.menu-list li {
  float: left;
}

.menu-list li a {
  padding: 10px;
  margin: 10px;
}

/* Menu - Mobile */
.menu-btn {
  padding: 10px;
  float: right;
  display: none !important;
}

.menu-side .ant-drawer-content-wrapper {
  width: 360px;
}

.menu-side .ant-drawer-header {
  padding: 20px 30px;
  color: #333333;
  font-size: 1.2em;
  line-height: 1.6;
  border-bottom: 1px solid #eeeeee;
}

.menu-side .ant-drawer-title {
  font-size: 1.2em;
}

.menu-side .menu-list li {
  width: 100%;
  padding: 20px 0;
  font-size: 1.2em;
}

.menu-side .menu-list li a {
  padding: 0;
}

@media (max-width: 767px) {
  .nav-logo {
    font-size: 1.4em;
  }

  .menu-list {
    display: none !important;
  }

  .menu-btn,
  .menu-side .menu-list {
    display: inline-block !important;
  }
}
